.jobsContainerHome {
  width: 100%;
  padding: 50px 10% 100px 10%;
  background-color: var(--primary-background-color);
}

.jobsContainerHome > .contentContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.jobsContainerHome .jobsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.jobsContainerHome .jobsHeader > h1 {
  font-weight: 600;
  color: var(--primary-text-color);
}

.jobsContainerHome .jobsHeader > a {
  text-decoration: underline;
  color: var(--primary-contrast-color);
  font-size: 20px;
  width: 100px;
}

@media (max-width: 768px) {
  .jobsContainerHome {
    padding: 60px 10%;
  }
  .jobsContainerHome .jobsHeader > h1 {
    font-size: 24px;
  }
  .jobsContainerHome .jobsHeader > a {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .jobsContainerHome {
    padding: 40px 20px;
  }
}
